<!doctype html>

<html lang="en">
  <head>
    <title>Data-Hub</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit/uikit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/dataTables.uikit.css') }}">

    <script src="{{ url_for('static', filename='uikit/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit/uikit-icons.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/jquery.js') }}" defer></script>
    <script src="{{ url_for('static', filename='datatables/jquery.dataTables.js') }}" defer></script>
    <script src="{{ url_for('static', filename='datatables/dataTables.uikit.js') }}" defer></script>
  </head>
  <body>
    <header class="uk-container-large uk-padding-small">
      <div uk-grid>
        <div class="uk-width-4-5">
          <nav class="uk-navbar-container">
            <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="{{ url_for('hubs.hubs_index_html') }}"><span uk-icon="database"></span></a></li>
                {% block nav %}{% endblock %}
              </ul>
            </div>
          </nav>
        </div>
        <div class="uk-width-1-5 uk-flex uk-flex-right uk-flex-middle">
          {% block buttons %}{% endblock %}
        </div>
      </div>
    </header>

    <section class="uk-container-large uk-padding-small uk-padding-remove-top">
      {% block content %}{% endblock %}
    </section>

    {% block scripts %}{% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {
          $('.data-table').DataTable({
              'lengthChange': false,
          });
      });
    </script>
  </body>
</html>
