<!doctype html>

<html lang="en">
  <head>
    <title>Data-Hub</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit/uikit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/dataTables.uikit.css') }}">

    <script src="{{ url_for('static', filename='uikit/uikit.js') }}" defer></script>
    <script src="{{ url_for('static', filename='uikit/uikit-icons.js') }}" defer></script>
    <script src="{{ url_for('static', filename='datatables/jquery.js') }}" defer></script>
    <script src="{{ url_for('static', filename='datatables/jquery.dataTables.js') }}" defer></script>
    <script src="{{ url_for('static', filename='datatables/dataTables.uikit.js') }}" defer></script>
  </head>
  <body>
    <header>
      <nav class="uk-navbar-container">
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            {% block menu %}{% endblock %}
          </ul>
        </div>
      </nav>
      <h1 class="uk-heading-small uk-heading-divider"><span>{% block header %}{% endblock %}</span></h1>
    </header>
    <section>
      {% block content %}{% endblock %}
    </section>
    {% block scripts %}{% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {
          $('.data-table').DataTable({
              'lengthChange': false,
          });
      });
    </script>
  </body>
</html>
