{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-active"><a href="{{ url_for('hubs.index_html') }}">Hubs</a></li>
{% endblock %}

{% block content %}
  <pre>{{ error }}</pre>
{% endblock %}