{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-parent"><a href="{{ url_for('hubs.hubs_index_html') }}" class="pure-menu-link">Hubs</a></li>
  <li class="uk-parent"><a href="{{ url_for('datasets.datasets_index_html', hub_id=hub_id) }}" class="pure-menu-link">Datasets</a></li>
  <li class="uk-active"><a href="{{ url_for('versions.versions_index_html', hub_id=hub_id, dataset_id=dataset_id) }}" class="pure-menu-link">Versions</a></li>
{% endblock %}

{% block content %}
  <table class="uk-table uk-table-hover">
    <tbody>
      <tr>
        <td>Version</td>
        <td>{{ version.version }}</td>
      </tr>
      <tr>
        <td>Backend</td>
        <td>{{ version.module }}</td>
      </tr>
      <tr>
        <td>Path</td>
        <td>{{ version.path }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ version.description }}</td>
      </tr>
      <tr>
        <td>Created At</td>
        <td>{{ version.created_at | datetime }}</td>
      </tr>
    </tbody>
  </table>

  <span class="uk-text-large">Columns</span>
  <table class="uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type Name</th>
        <th>Description</th>
        <th>Nullable</th>
        <th>Unique</th>
        <th>Contains PII</th>
      </tr>
    </thead>
    <tbody>
      {% for column in columns %}
        <tr>
          <td>{{ column.name }}</td>
          <td>{{ column.type_name }}</td>
          <td>{{ column.description }}</td>
          <td>
            <input class="uk-checkbox" type="checkbox" disabled {% if column.is_nullable %}checked{% endif %}>
          </td>
          <td>
            <input class="uk-checkbox" type="checkbox" disabled {% if column.is_unique %}checked{% endif %}>
          </td>
          <td>
            <input class="uk-checkbox" type="checkbox" disabled {% if column.has_pii %}checked{% endif %}>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <form id="new-partition" method="post" action="{{ url_for('partitions.partition_new_html', hub_id=hub_id, dataset_id=dataset_id, version=version_int) }}">
    <fieldset class="top-row-input uk-fieldset">
      <div class="uk-flex uk-flex-middle">
        <div>
          <span class="uk-text-large">Partitions</span>
        </div>
        <div>
          <a class="add-row uk-icon-link"><span class="uk-padding uk-padding-remove-vertical" uk-icon="plus"></span></a>
        </div>
      </div>
      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            {% for key in version.partition_keys %}
              <th>{{ key }}</th>
            {% endfor %}
            <th>Path</th>
            <th>Row Count</th>
            <th>Start Time</th>
            <th>End Time</th>
            {% if partitions %}
              <th>Created At</th>
            {% else %}
              <th class="uk-width-small"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr hidden class="input-row">
            {% for _ in version.partition_keys %}
              <td><input class="uk-input" name="partition_values[]" type="text" required></td>
            {% endfor %}
            <td><input class="uk-input" name="path" type="text" required></td>
            <td><input class="uk-input" name="row_count" type="number" min="0"></td>
            <td>
              <div class="uk-flex">
                <div>
                  <input class="uk-input" name="start_date" type="date">
                </div>
                <div>
                  <input class="uk-input" name="start_time" type="time">
                </div>
              </div>
            </td>
            <td>
              <div class="uk-flex">
                <div>
                  <input class="uk-input" name="end_date" type="date">
                </div>
                <div>
                  <input class="uk-input" name="end_time" type="time">
                </div>
              </div>
            </td>
            <td>
              <div class="uk-flex uk-flex-around">
                <div>
                  <a class="remove-row uk-icon-link"><span uk-icon="trash"></span></a>
                </div>
                <div>
                  <a class="submit-row uk-icon-link"><span uk-icon="check"></span></a>
                </div>
              </div>
            </td>
          </tr>
          {% for partition in partitions %}
            <tr>
              {% for value in partition.partition_values %}
                <td>{{ value }}</td>
              {% endfor %}
              <td>{{ partition.path }}</td>
              <td>{{ partition.row_count }}</td>
              <td>{{ partition.start_time | datetime }}</td>
              <td>{{ partition.end_time | datetime }}</td>
              <td>{{ partition.created_at | datetime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='topRowInput.js') }}"></script>
{% endblock %}
