{% extends 'base.html.j2' %}

{% block menu %}
  <li class="uk-parent"><a href="{{ url_for('hubs.hubs_index_html') }}">Hubs</a></li>
  <li class="uk-parent"><a href="{{ url_for('datasets.datasets_index_html', hub_id=hub_id) }}">Datasets</a></li>
  <li class="uk-active"><a href="{{ url_for('versions.versions_index_html', hub_id=hub_id, dataset_id=dataset_id) }}">Versions</a></li>
{% endblock %}

{% block header %}
  Version List
{% endblock %}


{% block content %}
  <a class="uk-button uk-button-primary" href="{{ url_for('versions.version_new_html', hub_id=hub_id, dataset_id=dataset_id) }}">Add Version</a>
  <table class="data-table uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Version</th>
        <th>Backend</th>
        <th>Path</th>
        <th>Description</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for version in versions %}
        <tr>
          <td>
            <a href="{{url_for('versions.version_detail_html', hub_id=version.hub_id, dataset_id=version.dataset_id, version=version.version) }}">{{ version.version }}</a>
          </td>
          <td>{{ version.module }}</td>
          <td>{{ version.path }}</td>
          <td>{{ version.description }}</td>
          <td>{{ version.created_at | datetime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
