{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-parent"><a href="{{ url_for('hubs.index_html') }}">Hubs</a></li>
  <li class="uk-parent"><a href="{{ url_for('datasets.index_html', hub_id=hub_id) }}">Datasets</a></li>
  <li class="uk-active"><a href="{{ url_for('versions.index_html', hub_id=hub_id, dataset_id=dataset_id) }}">Versions</a></li>
{% endblock %}

{% block buttons %}
  {% if is_writer %}
    <a class="uk-button uk-button-primary" href="{{ url_for('versions.new_html', hub_id=hub_id, dataset_id=dataset_id) }}">Add Version</a>
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="uk-heading-small uk-text-capitalize uk-margin-medium-bottom">{{ name }}</h1>

  <form id="new-connection" class="uk-container-small" method="post" action="{{ url_for('connections.new_html', hub_id=hub_id, dataset_id=dataset_id) }}">
    <fieldset class="top-row-input uk-fieldset">
      <div class="uk-flex uk-flex-middle">
        <div>
          <span class="uk-text-large">Connections</span>
        </div>
        <div>
          {% if is_writer %}
            <a class="add-row uk-icon-link"><span class="uk-padding uk-padding-remove-vertical" uk-icon="plus"></span></a>
          {% endif %}
        </div>
      </div>
      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            <th>Connector</th>
            <th>Path</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr hidden class="input-row">
            <td>
              <select class="uk-select" name="connector_id">
                {% for connector in connectors %}
                  <option value="{{ connector.id }}">{{ connector.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td><input class="uk-input" name="path" type="text" required></td>
            <td>
              <div class="uk-flex uk-flex-around">
                <div>
                  <a class="remove-row uk-icon-link"><span uk-icon="trash"></span></a>
                </div>
                <div>
                  <a class="submit-row uk-icon-link"><span uk-icon="check"></span></a>
                </div>
              </div>
            </td>
            <td></td>
          </tr>
          {% for connection in connections %}
            <tr>
              <td>{{ connection.connector_name }}</td>
              <td>{{ connection.path }}</td>
              <td>
                <a class="uk-icon-link" href="{{ url_for('connections.render_html', hub_id=hub_id, dataset_id=dataset_id, connection_id=connection.id) }}">
                  <span uk-icon="expand"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </form>

  <span class="uk-text-large">Versions</span>
  <table class="data-table uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Version</th>
        <th>Backend</th>
        <th>Path</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Publish</th>
      </tr>
    </thead>
    <tbody>
      {% for version in versions %}
        <tr>
          <td>
            <a href="{{url_for('versions.detail_html', hub_id=version.hub_id, dataset_id=version.dataset_id, version=version.version) }}">{{ version.version }}</a>
          </td>
          <td>{{ version.module }}</td>
          <td>{{ version.path }}</td>
          <td>{{ version.description }}</td>
          <td>{{ version.created_at | datetime }}</td>
          <td>
            {% if not version.published %}
              <form action="{{ url_for('versions.publish_html', hub_id=hub_id, dataset_id=dataset_id, version=version.version) }}" method="post">
                <a class="publish-row uk-icon-link"><span uk-icon="push"></span></a>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.publish-row').forEach(button => {
        button.addEventListener('click', e => {
          e.preventDefault();
          e.target.closest('form').submit();
        });
      });
    });
  </script>
  <script src="{{ url_for('static', filename='topRowInput.js') }}"></script>
{% endblock %}
