{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-parent"><a href="{{ url_for('hubs.index_html') }}">Hubs</a></li>
  <li class="uk-parent"><a href="{{ url_for('datasets.index_html', hub_id=hub_id) }}">Datasets</a></li>
  <li class="uk-active"><a href="{{ url_for('versions.index_html', hub_id=hub_id, dataset_id=dataset_id) }}">Versions</a></li>
{% endblock %}

{% block buttons %}
  {% if is_writer %}
    <a class="uk-button uk-button-primary" href="{{ url_for('versions.new_html', hub_id=hub_id, dataset_id=dataset_id) }}">Add Version</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="data-table uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Version</th>
        <th>Backend</th>
        <th>Path</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Publish</th>
      </tr>
    </thead>
    <tbody>
      {% for version in versions %}
        <tr>
          <td>
            <a href="{{url_for('versions.detail_html', hub_id=version.hub_id, dataset_id=version.dataset_id, version=version.version) }}">{{ version.version }}</a>
          </td>
          <td>{{ version.module }}</td>
          <td>{{ version.path }}</td>
          <td>{{ version.description }}</td>
          <td>{{ version.created_at | datetime }}</td>
          <td>
            {% if not version.published %}
              <form action="{{ url_for('versions.publish_html', hub_id=hub_id, dataset_id=dataset_id, version=version.version) }}" method="post">
                <a class="publish-row uk-icon-link"><span uk-icon="push"></span></a>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.publish-row').forEach(button => {
        button.addEventListener('click', e => {
          e.preventDefault();
          e.target.closest('form').submit();
        });
      });
    });
  </script>
{% endblock %}
