{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-parent"><a href="{{ url_for('hubs.hubs_index_html') }}">Hubs</a></li>
  <li class="uk-parent"><a href="{{ url_for('datasets.datasets_index_html', hub_id=hub_id) }}">Datasets</a></li>
  <li class="uk-parent"><a href="{{ url_for('versions.versions_index_html', hub_id=hub_id, dataset_id=dataset_id) }}">Versions</a></li>
{% endblock %}

{% block content %}
  <form id="new-version" class="uk-form-horizontal" action="{{ url_for('versions.version_new_html', hub_id=hub_id, dataset_id=dataset_id) }}" method="post">
    <fieldset class="uk-fieldset uk-container-small">
      <div class="uk-margin">
        <label class="uk-form-label" for="backend">Backend Name</label>
        <div class="uk-form-controls">
          <select id="backend" class="uk-select" name="backend">
            {% for backend in backends %}
              <option value="{{ backend.module }}">{{ backend.module }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="path">Path</label>
        <div class="uk-form-controls">
          <input id="path" class="uk-input" name="path" type="text" placeholder="/example">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="description">Description</label>
        <div class="uk-form-controls">
          <input id="description" class="uk-input" name="description" type="text" placeholder="">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="is_overlapping">Has Overlapping Partitions</label>
        <div class="uk-form-controls">
          <input id="is_overlapping" class="uk-checkbox" name="is_overlapping" type="checkbox">
        </div>
      </div>
    </fieldset>
  </form>

  <form class="uk-form-stacked uk-padding uk-padding-remove-horizontal">
    <fieldset class="dynamic-rows uk-fieldset">
      <div class="uk-flex uk-flex-middle">
        <div>
          <span class="uk-text-large">Columns</span>
        </div>
        <div>
          <a class="add-row uk-icon-link"><span class="uk-padding uk-padding-remove-vertical" uk-icon="plus"></span></a>
        </div>
      </div>
      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Nullable</th>
            <th>Unique</th>
            <th>Contains PII</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="uk-input" name="column_name[]" type="text" placeholder="Name" form="new-version"></td>
            <td>
              <select class="uk-select" name="column_type[]" form="new-version">
                {% for type_entry in types %}
                  <option value="{{ type_entry.name }}">{{ type_entry.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td><input class="uk-input" name="column_description[]" type="text" placeholder="Description" form="new-version"></td>
            <td>
              <input class="uk-checkbox" type="checkbox">
              <input hidden checked name="column_is_nullable[]" type="text" value="false" form="new-version">
            </td>
            <td>
              <input class="uk-checkbox" type="checkbox">
              <input hidden checked name="column_is_unique[]" type="text" value="false" form="new-version">
            </td>
            <td>
              <input class="uk-checkbox" type="checkbox">
              <input hidden checked name="column_has_pii[]" type="text" value="false" form="new-version">
            </td>
            <td>
              <a class="remove-row uk-icon-link"><span uk-icon="trash"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>

  <form class="uk-form-stacked uk-container-small uk-padding uk-padding-remove-horizontal uk-padding-remove-top">
    <fieldset class="dynamic-rows uk-fieldset">
      <div class="uk-flex uk-flex-middle">
        <div>
          <span class="uk-text-large">Partition Keys</span>
        </div>
        <div>
          <a class="add-row uk-icon-link"><span class="uk-padding uk-padding-remove-vertical" uk-icon="plus"></span></a>
        </div>
      </div>
      <table class="uk-table uk-table-hover">
        <tbody>
          <tr>
            <td><input class="uk-input" name="partition_name[]" type="text" placeholder="Key" form="new-version"></td>
            <td>
              <a class="remove-row uk-icon-link"><span uk-icon="trash"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>

  <form class="uk-form-stacked">
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary" form="new-version">Add Version</button>
      </div>
    </fieldset>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='dynamicRows.js') }}"></script>
{% endblock %}
