{% extends 'base.html.j2' %}

{% block nav %}
  <li class="uk-active"><a href="{{ url_for('hubs.hubs_index_html') }}">Hubs</a></li>
{% endblock %}

{% block buttons %}
  <a class="uk-button uk-button-primary" href="{{ url_for('hubs.hub_new_html') }}">Add Hub</a>
{% endblock %}

{% block content %}
  <table class="data-table uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for hub in hubs %}
        <tr>
          <td>
            <a href="{{ url_for('datasets.datasets_index_html', hub_id=hub.id) }}">{{ hub.name }}</a>
          </td>
          <td>{{ hub.team_name }}</td>
          <td>{{ hub.created_at | datetime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
