{% extends 'base.html.j2' %}

{% block nav %}
  <li><a href="{{ url_for('hubs.index_html') }}">Hubs</a></li>
{% endblock %}

{% block content %}
  <form class="uk-container-small uk-form-horizontal" action="{{ url_for('hubs.new_html') }}" method="post">
    {% if error %}
      <div class="uk-alert-danger" uk-alert>
        <span>{{ error }}</span>
        <a class="uk-alert-close" uk-close></a>
      </div>
    {% endif %}
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <label class="uk-form-label" for="name">Name</label>
        <div class="uk-form-controls">
          <input id="name" class="uk-input" name="name" type="text" placeholder="Hub Name" required>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="team-id">Owner</label>
        <div class="uk-form-controls">
          <select id="team-id" class="uk-select" name="team_id">
            {% for team in teams %}
              <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="uk-margin uk-form-controls">
        <button type="submit" class="uk-button uk-button-primary">Add Hub</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
