worker_processes 1;
pid {{ cwd }}/logs/nginx.pid;
error_log {{ cwd }}/logs/nginx.error.log warn;

events {
  worker_connections 1024;
  accept_mutex off;
  use epoll;
}

http {
  include /etc/nginx/mime.types;

  client_body_temp_path /tmp/nginx_client_body;
  fastcgi_temp_path /tmp/nginx_fastcgi;
  proxy_temp_path /tmp/nginx_proxy;
  scgi_temp_path /tmp/nginx_scgi;
  uwsgi_temp_path /tmp/nginx_uwsgi;

  default_type application/octet-stream;
  access_log {{ cwd }}/logs/nginx.access.log combined;
  sendfile on;

  types_hash_max_size 4096;
  server_names_hash_bucket_size 128;

  gzip on;
  gzip_static always;
  gzip_proxied any;
  gzip_types text/plain application/javascript text/javascript text/css;

  upstream app_server {
    server 127.0.0.1:5000 fail_timeout=0;
  }

  server {
    listen 5050 default_server;

    keepalive_timeout 5;
    root {{ cwd }}/web/;

    location / {
      try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_pass http://app_server;
    }
  }
}